L.Icon.Default.mergeOptions({
  iconUrl: '../..<%= asset_path("leaflet/dist/images/marker-icon.png") %>',
  iconRetinaUrl: '../..<%= asset_path("leaflet/dist/images/marker-icon-2x.png") %>',
  shadowUrl: '../..<%= asset_path("leaflet/dist/images/marker-shadow.png") %>',
  shadowRetinaUrl: '../..<%= asset_path("leaflet/dist/images/marker-shadow.png") %>'
});

$(document).on('ready turbolinks:load', function() {
  $(".leaflet-map--static").each(function(e) {
    var geometry = $(this).data('geometry');
    var zoom = $(this).data('zoom');

    var map = L.map(this).setView(geometry.center, zoom || 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);

    var group = new L.featureGroup();
    geometry.shapes.forEach(function(shape) {
      var shape;
      if (shape.type === 'circle') {
        shape = L.circle(shape.point, { radius: shape.radius }).addTo(map);
      } else if (shape.type === 'marker') {
        shape = L.marker(shape.point).addTo(map);
      }
      group.addLayer(shape);
    })
    if (zoom == undefined) {
      map.fitBounds(group.getBounds());
    }
  });
});
