- if avatars.any?
  .avatar-list.justify-content-center
    - avatars.each do |avatar|
      = image_tag(avatar_icon_url(avatar), title: avatar.name, class: "avatar avatar-sm")
  %small
    %strong= avatar.size
    #{"runner".pluralize(avatars.size)} nearby
