.d-flex.justify-content-between.align-items-center.mb-1
  %strong.text-uppercase
    Mission Alerts
  = link_to(alerts_path, class: "small text-uppercase") do
    %i.fa.fa-cog
    Manage
.list-group.mb-2
  - current_user.alerts.each do |alert|
    .list-group-item.mission-on-call{ class: alert.enabled? ? "mission-on-call--enabled" : "mission-on-call--disabled" }
      .form-check.checkbox-slider--default.checkbox-slider-md
        %label.d-flex.mb-0
          %input{ type: "checkbox", checked: alert.enabled? }
          %span.small
            = alert.location
            .text-muted.d-block #{alert.radius}km from #{alert.postcode}
