.card-deck
  .card.rounded-0.sm-flush.mb-1
    .card-body.py-1.d-flex.justify-content-between.align-items-center.flex-wrap
      %div
        %h5.text-info.mb-0.alert-heading
          %i.fa.fa-calendar
          Missions Calendar
        %small Book a mission in advance
      = link_to new_availability_path, class: "btn btn-info btn-sm" do
        Book
        %span.d-none.d-sm-inline.d-md-none.d-lg-inline a mission
  .card.rounded-0.sm-flush.mb-1
    .card-body.py-1.d-flex.justify-content-between.align-items-center.flex-wrap
      %div
        %h5.text-info.mb-0.alert-heading
          %i.fa.fa-clock
          Mission alerts
        %small Get alerts about urgent missions
      = link_to todo_path, class: "btn btn-info btn-sm" do
        Enable
        %span.d-none.d-sm-inline.d-md-none.d-lg-inline alerts
  .card.rounded-0.sm-flush.mb-1
    .card-body.py-1.d-flex.justify-content-between.align-items-center.flex-wrap
      %div
        %h5.text-info.mb-0.alert-heading
          %i.fa.fa-list
          Mission listings
        %small See missions near you
      .btn.btn-info.btn-sm
        Browse
        %span.d-none.d-sm-inline.d-md-none.d-lg-inline listings
