.container
  %h1 Hello #{current_user.name}

  - if current_user.availabilities.any?
    %h2 Your mission bookings
    .list-group.mb-2= render partial: "availabilities/availability", collection: current_user.availabilities

  %p= link_to "Book a mission", new_availability_path, class: "btn btn-secondary btn-block"

  %p= link_to "View listings", listings_path, class: "btn btn-link btn-block"
