@import "bootstrap_variables";
@import "bootstrap/scss/bootstrap";
@import "titatoggle/dist/titatoggle";

@import "leaflet/dist/leaflet";
@import "fontawesome";

@import "components/*";

.title-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.alert-placeholder {
  border: 1px solid #e83e8c;
  background: repeating-linear-gradient(135deg, rgba(1.0,0,0,0.1), rgba(1.0,0,0,0.1) 5px, white 5px, white 20px);
}

.sm-flush {
  @include media-breakpoint-down(sm) {
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 0;
  }
}
