@import "bootstrap_variables";
@import "bootstrap/scss/bootstrap";
@import "titatoggle/dist/titatoggle";

@import "leaflet/dist/leaflet";
@import "fontawesome";

@import "select2/dist/css/select2.min";
@import "select2-bootstrap4-theme/dist/select2-bootstrap4.min";

@import "components/*";

.title-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.alert-placeholder {
  border: 1px solid #e83e8c;
  background: repeating-linear-gradient(135deg, rgba(1.0,0,0,0.1), rgba(1.0,0,0,0.1) 5px, white 5px, white 20px);
}

.sm-flush {
  @include media-breakpoint-down(sm) {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.table-bordered--thick th, .table-bordered--thick td {
  border: 4px solid $table-border-color;
}

.text-wrap {
  white-space: normal !important;
}
