@import "bootstrap_variables";
@import "bootstrap/scss/bootstrap";
@import "titatoggle/dist/titatoggle";

@import "leaflet/dist/leaflet";
@import "fontawesome";

@import "components/*";

.title-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: flex-start;
  }
}
