.alert.alert-dark.sm-flush
  .d-flex.justify-content-between.align-items-center.flex-wrap
    %div
      %h5.mb-0.alert-heading
        %i.fa.fa-clock
        Urgent Missions
      %small Get alerts about urgent missions
    .btn.btn-secondary.btn-sm
      Mark
      %span.d-none.d-sm-inline availability
