.card-deck.flex-row.text-center.sm-flush.mb-2
  .card.w-50.rounded-0
    .card-body.p-1
      %h6.mb-1
        %i.fa.fa-clock
        Urgent Missions
      %p.small Get alerts about urgent missions
      .btn.btn-secondary.btn-sm
        Mark availability
  .card.w-50.rounded-0
    .card-body.p-1
      %h6.mb-1
        %i.fa.fa-calendar
        Missions Calendar
      %p.small Book a mission in advance
      .btn.btn-secondary.btn-sm
        Book a mission
