.container
  %h1 Your mission preferences
  = simple_form_for(@runner, url: dashboards_runner_path) do |f|
    = f.error_notification

    = render "shared/mission_preferences", form: f
    = f.submit "Update preferences", class: "btn btn-primary btn-block btn-lg"
