.container
  %h2 Book a mission

  - if stage != :first
    = render "runners/mission_options", resource: @availability

= case stage
- when :first then render "stage_first"
- when :date then render "stage_date"
- when :time then render "stage_time"
- when :confirm then render "stage_confirm"
